#treeview,
#treeview ul {
    direction: rtl;
    text-align: right;
    list-style: none;
}

#treeview li {
    margin: 10px;
}

#treeview .parent {
    position: relative;
    cursor: pointer;
}

#treeview .parent::before {
    float: right;
    padding-left: -30px;
    background: url(../../img/plus-minus.png) no-repeat;
    background-size: auto 100%;
    background-position: -15px top;
    background-origin: padding-box;
    content: "";
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

#treeview .parent:hover::before,
#treeview .close::before {
    background-position: 0 top;
}

#treeview .parent>ul {
    display: none;
}